body {
  margin: 0;
  padding: 0;
  background-image: url("./images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* BODY CONTAINE */

.container {
  color: white;
  overflow: auto;
}

/* LEFT DIV */

.left {
  margin: 250px 0 0 0;
  width: 50%;
  position: relative;
  float: left;
}

.left h1 {
  font-family: "Poppins", sans-serif;
  padding: 0 50px 0 200px;
  font-size: 52px;
  line-height: 1;
}

.left p {
  padding-left: 200px;
  padding-right: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* RIGHT DIV */

form {
  padding: 40px 0 0 0;
}

input::placeholder {
  color: hsl(249, 3%, 47%);
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

.enter {
  background-color: #fff;
  margin: 0 120px;
  border-radius: 16px;
  box-shadow: 0 5px 5px hsl(249, 10%, 26%);
}

.enter button {
  background-color: hsl(154, 59%, 51%);
  width: 90%;
  padding: 10px 0;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 2px 2px hsl(249, 10%, 26%);
}

.enter input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
  padding: 10px 0 10px 40px;
  font-size: 16px;
}

.enter p {
  color: hsl(246, 25%, 77%);
  font-size: 12px;
  padding-bottom: 60px;
}

.right {
  text-align: center;
  width: 50%;
  float: right;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.right a {
  color: hsl(0, 100%, 74%);
  text-decoration: none;
}

.right h3 {
  margin: 150px 120px 30px 120px;
  background-color: hsl(248, 32%, 49%);
  color: white;
  padding: 15px 0;
  box-shadow: 0 5px 5px hsl(249, 10%, 26%);
  font-size: 16px;
}
